* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cs-sign-in-content input[type="text"] {
  border: 1px solid #999999;
  padding: 0.75rem 1.625rem;
  color: #999999;
}

.cs-sign-in-content input[type="text"]:focus-within {
  color: #999999;
}

.cs-sign-in-content input[type="text"]::placeholder {
  color: #ccd0dd;
}

.cs-sign-in-content .cs-sign-in-btn {
  padding: 0.75rem;
  background-color: #fda516;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem #ffedcc;
}

.cs-w-offcanvas-menu {
  width: 20em!important;
}